.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5rem 2rem;
  padding-bottom: 1rem;
  top: -50px;
  background: -moz-linear-gradient(bottom, transparent 0%, #000 25%, #000 100%);
  background: -webkit-linear-gradient(
    bottom,
    transparent 0%,
    #000 25%,
    #000 100%
  );
  background: linear-gradient(to bottom, transparent 0%, #000 25%, #000 100%);
  border-bottom: 1px solid #1d1c1d;
}

.blogsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  width: 100%;
}

.backImage {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  background-image: url("../public/jeremy-vessey-header.jpg");
  background-size: cover;
  background-position: -150px 0;
  background-repeat: no-repeat;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  color: #d3cfcf;
  height: 100%;
  width: 50%;
  z-index: 100;
  padding: 0 2rem;
  background: transparent;
  background: -moz-linear-gradient(left, transparent 0%, #000 25%, #000 100%);
  background: -webkit-linear-gradient(
    left,
    transparent 0%,
    #000 25%,
    #000 100%
  );
  background: linear-gradient(to right, transparent 0%, #000 25%, #000 100%);
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  position: relative;
  top: 4rem;
  left: -10rem;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: left;
}

.description {
  position: relative;
  top: 5rem;
  left: -6rem;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: left;
  margin: 2rem 0;
}

.link {
  color: #fdac53;
  border: 1px solid #fdac53;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.link:hover {
  color: #32d693;
  border: 1px solid #32d693;
}

.aboutLink {
  position: relative;
  right: -3rem;
  bottom: -7rem;
}

.blogLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 3rem auto;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
