.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #1d1c1d;
  margin: 1rem;
  padding: 2rem;
  border-radius: 6px;
  opacity: 0.7;
}

.title {
  color: #fdac53;
  margin: 0;
  margin-bottom: 2rem;
}

.main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.avatar {
  position: relative;
  min-width: 280px;
  max-width: 280px;
  height: 280px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #fdac53;
}

.avatar img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  color: #fdac53;
}

.addPhotoIcon {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  color: #32d693;
  opacity: 0.7;
  cursor: pointer;
}

.addPhotoIcon:hover {
  opacity: 1;
}
  
.details {
  padding: 0 3rem;
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.textField {
  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fdac53;
  color: #fdac53;
  outline: none;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.buttonContainer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  font-size: 1.5rem;
  background-color: #1d1c1d;
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-width: 100px;
  border: none;
  opacity: 0.7;
}

.button:hover {
  opacity: 1;
}

.updateButton {
  color: #32d693;
}

.saveButton {
  color: #32d693;
}

.cancelButton {
  color: tomato;
}

.website {
  color: #32d693;
  opacity: 0.7;
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 0.5rem;
}

.website:hover {
  opacity: 1;
}
